
.tos-div{
    display: flex;
    flex-direction: column;
    align-items:end ;
}

.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.modal-footer{
    justify-content: center;
}


.input-btn{
    background-color: aqua;
}
.modal-dialog{
   height: 80%;
}
.modal-lg{
    max-width: 60%;
    height: 87.5%;
}
.modal-content{
    height: 100%;
}
.modal-body{
    height: 100%;
}