.comment-box-container{
    display: flex;
    width: 100%;
    max-width: 63vw;
    margin-top: 2em;
}
.comment-channel-name{
    margin-right: 0.5em;
}
.comment-date{
    font-size: 0.8em;
    font-weight: 300;
}
.comment-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: baseline;
}
.comment-like{
    width: 4px;
}
.comment-content-p{
    font-size: 1em;
    font-weight: 300;
}
.dots-menu-btn{
    border: none;
    background: none;
}
body.dark-mode-enabled .dropdown-item{
    color: black;
}