
body{
    font-family: 'Poppins', sans-serif;
    background: #e0e0e0;
}
.box-area{
    width: 900px;
}
.right-box{
    padding: 40px 40px 40px 40px;
}
::placeholder{
    font-size: 15px;
}
.rounded-1{
    border-radius: 30px;
}


