.user-logo-image{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-bottom: 0.2em;
}
.user-logo-container{
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: max-content;
}